# USE NEURAL NETWORK

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [6]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [7]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [8]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [9]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [10]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [11]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [12]:
n_cols = predictors_norm.shape[1]

In [13]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [14]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [17]:
# build the model
model = regression_model()

In [18]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 1s - loss: 1507.0931
Epoch 2/50
 - 0s - loss: 1451.6617
Epoch 3/50
 - 0s - loss: 1370.1085
Epoch 4/50
 - 0s - loss: 1255.5774
Epoch 5/50
 - 0s - loss: 1096.8394
Epoch 6/50
 - 0s - loss: 893.0429
Epoch 7/50
 - 0s - loss: 666.9114
Epoch 8/50
 - 0s - loss: 464.3850
Epoch 9/50
 - 0s - loss: 332.0325
Epoch 10/50
 - 0s - loss: 274.6226
Epoch 11/50
 - 0s - loss: 251.1209
Epoch 12/50
 - 0s - loss: 236.8192
Epoch 13/50
 - 0s - loss: 226.1524
Epoch 14/50
 - 0s - loss: 215.8336
Epoch 15/50
 - 0s - loss: 208.0126
Epoch 16/50
 - 0s - loss: 201.0706
Epoch 17/50
 - 0s - loss: 195.0893
Epoch 18/50
 - 0s - loss: 190.0225
Epoch 19/50
 - 0s - loss: 185.9493
Epoch 20/50
 - 0s - loss: 181.9197
Epoch 21/50
 - 0s - loss: 177.7551
Epoch 22/50
 - 0s - loss: 174.3196
Epoch 23/50
 - 0s - loss: 170.9195
Epoch 24/50
 - 0s - loss: 167.7224
Epoch 25/50
 - 0s - loss: 164.7696
Epoch 26/50
 - 0s - loss: 162.1770
Epoch 27/50
 - 0s - loss: 159.6213
Epoch 28/50
 - 0s - loss: 157.6607
Epoch 29/50
 - 0s - loss: 155.4828
Epoch 30/50
 - 0s - loss: 152.8720
Epoch 31/50
 - 0s - loss: 150.7518
Epoch 32/50
 - 0s - loss: 149.1194
Epoch 33/50
 - 0s - loss: 147.0006
Epoch 34/50
 - 0s - loss: 145.2802
Epoch 35/50
 - 0s - loss: 143.8522
Epoch 36/50
 - 0s - loss: 141.6131
Epoch 37/50
 - 0s - loss: 139.9750
Epoch 38/50
 - 0s - loss: 138.7039
Epoch 39/50
 - 0s - loss: 137.5380
Epoch 40/50
 - 0s - loss: 136.0925
Epoch 41/50
 - 0s - loss: 133.9399
Epoch 42/50
 - 0s - loss: 132.4358
Epoch 43/50
 - 0s - loss: 131.3724
Epoch 44/50
 - 0s - loss: 130.1049
Epoch 45/50
 - 0s - loss: 128.8716
Epoch 46/50
 - 0s - loss: 127.2689
Epoch 47/50
 - 0s - loss: 125.8878
Epoch 48/50
 - 0s - loss: 124.1049
Epoch 49/50
 - 0s - loss: 123.4883
Epoch 50/50
 - 0s - loss: 121.4784

In [19]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 270us/step

123.01852468842442

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

123.01852822302286 0.0

In [ ]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 68.69963174961917
MSE 2: 50.96170082215738
MSE 3: 37.43465953197294
MSE 4: 35.329080353277014
MSE 5: 31.60683548566207
MSE 6: 29.439335202707827
MSE 7: 35.24730889774063
MSE 8: 27.51187164652309
MSE 9: 27.64585961030139
MSE 10: 29.042428667877097
MSE 11: 29.22011861214746
MSE 12: 25.033993989518546
MSE 13: 28.549310036075926
MSE 14: 32.337226213374954
MSE 15: 25.902809402317676
MSE 16: 22.261897448197153
MSE 17: 28.786951367523294
MSE 18: 28.69298082802288
MSE 19: 25.14511551594657
MSE 20: 25.325894803291
MSE 21: 25.702556931085184
MSE 22: 23.642449135147636
MSE 23: 20.782069135252325
MSE 24: 21.028270585637262
MSE 25: 22.816124666084363
MSE 26: 24.536304807200015
MSE 27: 21.466915016421222
MSE 28: 24.050242457960803
MSE 29: 28.518624345847318
MSE 30: 23.827613639214277
MSE 31: 19.364548297375922
MSE 32: 20.629976158388995
MSE 33: 17.68851643164181
MSE 34: 19.13071034872802
MSE 35: 20.130128632085608
MSE 36: 24.614610634961174
MSE 37: 16.807824008287348
MSE 38: 22.526928750442455
MSE 39: 23.284006007666726
MSE 40: 19.10115528415322
MSE 41: 23.177313573152116
MSE 42: 20.398216333975682
MSE 43: 19.9178786277771
MSE 44: 22.772231586542716
MSE 45: 26.0420720862725
MSE 46: 18.474788844778313